%h1 All People

%table{:border => 1, :class => 'table table-striped'}
  %tr
    %th Name
    %th Title
    %th Employer
    %th Salary
    / %th{:colspan => 2} Actions
  - @people.each do |person|
    %tr
      %td= link_to person.name, person_path(person)
      %td= person.title
      %td= person.employer
      %td= person.salary
      / %td= link_to 'Edit', edit_person_path(person), {class: 'btn'}
      / %td= link_to 'Delete', person_path(person), {method: :delete, class: 'btn btn-warning'}


